<% layout('layouts/boilerplate')%>
    <h1>edit page</h1>

    <div>

        <form action="/show/<%=ngoView._id%>?_method=PUT" method="post">
            <div>
                <label for="">Ngo Name</label>
                <input type="text" id="ngoname" name="ngo[ngoName]" value="<%=ngoView.ngoName%>">
            </div>
            <div>
                <label for="">Directors(, separated)</label>
                <input type="text" id="directors" name="ngo[directors]" value="<%=ngoView.directors%>">
            </div>
            <div>
                <label for="">Location</label>
                <input type="text" id="location" name="ngo[location]" value="<%=ngoView.location%>">
            </div>
            <button>update ngo</button>
        </form>
    </div>


        <div>
            <a href="/show">All Ngos</a>
        </div>

