<% layout('layouts/boilerplate') %>
<h1>Registration Page</h1>

    <div>

        <form action="/show" method="post">
            <div>
                <label for="">Ngo Name</label>
                <input type="text" id="ngoname" name="ngo[ngoName]">
            </div>
            <div>
                <label for="">Directors(, separated)</label>
                <input type="text" id="directors" name="ngo[directors]">
            </div>
            <div>
                <label for="">Location</label>
                <input type="text" id="location" name="ngo[location]">
            </div>
            <button>Add new ngo</button>
        </form>
    </div>
    <div>
            <a href="/show">All Ngos</a>
    </div>

