<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Ngo Registration</h1>
    <div class="col-6 offset-3">
         <form action="/show" method="post">
            <div class="mb-3">
                <label for="" class="form-lable">Ngo Name</label>
                <input type="text" class="form-control" id="ngoname" name="ngo[ngoName]">
            </div>
            <div class="mb-3">
                <label for="" class="form-lable">Directors(, separated)</label>
                <input type="text" class="form-control" id="directors" name="ngo[directors]">
            </div>
            <div class="mb-3">
                <label for="" class="form-lable">Location</label>
                <input type="text" class="form-control" id="location" name="ngo[location]">
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add new ngo</button>
            </div>
            
        </form>
    </div>

</div>


