<% layout('layouts/boilerplate')%>
    <H1>singe Ngo View</H1>
    <div>
        <h1><%=ngoView.ngoName%></h1>
        <h2><%= ngoView.directors%></h2>
        

        <div>
            <a href="/show/<%=ngoView._id%>/edit">Edit ngo</a>
            <a href="/show">All Ngos</a>
        </div>

